.tabBar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.tabContainer {
  display: flex;
  gap: 2px;
  background: var(--color-tab-container);
  border-radius: 4.5px;
  padding: 3px;
}

.line {
  display: none;
}
